.app {
    display: flex;
    flex-direction: column;
}

.login-layout {
    background: url('./img/login-fondo.jpg') fixed;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.login-layout .wrap {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.login-layout .form-title {
    font-family: 'Open Sans' , sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    letter-spacing: 4px;
}

.login-layout form.login {
    width: 250px;
    margin: 0 auto;
}

.login-layout .control-label {
    font-family: 'Open Sans' , sans-serif;
    color: #FFFFFF;
}

.login-layout button[type="submit"] {
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.main-layout {
    background: url('./img/main-fondo.jpg') fixed;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    padding: 60px 15px 0;
    top: 0;
    left: 0;
    z-index: 99;
}

.scroll-box {
    overflow-y: scroll;
    max-height: 75vh;
    padding: 1rem;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

.thumbnail > img, .thumbnail a > img {
    display: block;
    max-height: 120px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}